/* Import moderustic and caudex fonts */
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Moderustic:wght@300..800&display=swap');

body {
background-color: #e8f4ea;
font-family: Moderustic, sans-serif;
margin: 1rem 0 1rem 1rem;
}

.container {
    background-color: #537150;
}

.header {
    padding: 12px;
}

.logo-text {
    color: #e8f3dc;
    font-family: Caudex;
    font-size: 24px;
}

.recipe-title {
    color: #e8f3dc;
    font-size: 24px;
    font-weight: bold;
}

.navigation {
    padding: 4px;
}

.footer {
    padding: 8px;
}

.bottom-text {
    color: #e8f3dc;
    font-size: 14px;
}

/* Remove list bullets */
ul {
    list-style-type: none;
}

/* Remove underline decoration for links */
a {
    text-decoration: none;
    color: #e6dd8c;
} 

a:visited {
    color: #e68fac;
}

span {
    color: green;
    font-style: italic;
    background-color: #b8a992;
}